.chatInput {
    background-color: white;
    padding: 10px;
}

.replyPreview {
    padding-top: 4px;
    flex-grow: 1;
    padding-bottom: 8px;
}

.replyButton {
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.sendButton {
    height: auto;
}

.clipButton {
    height: auto;
}

.stretchControl {
    align-items: stretch;
}

.inputArea {
    min-width: 0;
    min-height: 0;
    resize: none;
    flex: 1;
}
