.teambar {
    padding-top: 10px;
    width: 80px;
    background: #1E2124;
    display: flex;
    justify-content: center;
}

.sidebar {
    background: #2E3136;
    width: 240px;
}

.columns {
    flex-grow: 1;
    text-align: left;
}
