.menu {
    position: fixed;
    right: 0;
    z-index: 100;
}

.menu ul {
    list-style: none;
    margin: inherit;
}

.menu a {
    border-bottom: inherit;
}

.separator {
    height: 1px;
    margin-top: 2px;
    margin-bottom: 2px;
    background: #2e3136;
    opacity: 0.1;
}
