@import './hint';
// @import './bulma';

// dark menu
.dark-menu {
    li ul {
        border-left: 2px solid #738bd7;
    }

    li a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        flex-grow: 1;
    }

    a.is-active {
        background: linear-gradient(90deg,#282b30 85%,#2e3136);
        color: #fff;
        opacity: 1;
        font-weight: 500;
    }

    a.is-active:hover {
        background: linear-gradient(90deg,#282b30 85%,#2e3136);
        color: #fff;
        opacity: 1;
        font-weight: 500;
    }

    a {
        color: #fff;
        text-decoration: none;
        font-weight: 500;
        opacity: .3;
    }

    a:hover {
        opacity: 1;
        background: transparent;
        color: #fff;
    }

    .menu-label {
        padding-left: 10px;
    }
}

.channel-name:before {
    content: '#';
    color: #8a8e94 !important;
    margin-right: 3px;
    font-weight: 600;
}
