@import './bulma';
@import './hint';
@import '~highlight.js/styles/github-gist.css';

html, body, #container {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

// dark menu
.dark-menu {
    li ul {
        border-left: 2px solid #738bd7;
    }

    li a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    a.is-active {
        background: linear-gradient(90deg,#282b30 85%,#2e3136);
        color: #fff;
        opacity: 1;
        font-weight: 500;
    }

    a.is-active:hover {
        background: linear-gradient(90deg,#282b30 85%,#2e3136);
        color: #fff;
        opacity: 1;
        font-weight: 500;
    }

    a {
        color: #fff;
        text-decoration: none;
        font-weight: 500;
        opacity: .3;
    }

    a:hover {
        opacity: 1;
        background: transparent;
        color: #fff;
    }

    .menu-label {
        padding-left: 10px;
    }
}

// flex grow spacer
.is-spacer {
    flex-grow: 1;
}

// channel prefix
.channel-name:before {
    content: '#';
    color: #8a8e94 !important;
    margin-right: 3px;
    font-weight: 600;
}

// widget
.widget {
    display: flex;
    flex: 1;
    min-height: 300px;
}

// new highlight
.is-new {
    background-color: rgba(151, 205, 118, 0.3);
}

// typeahead item
.typeahead-item {
    display: flex !important;
}

// forced flex
.force-flex {
    display: flex !important;
}

// loader for every element
.icon-loading:after {
    border-color: transparent transparent rgba(17,17,17,0.5) rgba(17,17,17,0.5) !important;
    border: 2px solid #d3d6db;
    border-radius: 290486px;
    content: "";
    display: block;
    height: 16px;
    width: 16px;
    margin-top: -32px;
    margin-left: 16px;
    animation: spin-around 500ms infinite linear;
}

// hotkey keyboard thing
kbd {
    display: inline-block;
    margin: 0 .1em;
    padding: .1em .6em;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 11px;
    line-height: 1.4;
    color: #242729;
    text-shadow: 0 1px 0 #FFF;
    background-color: #e1e3e5;
    border: 1px solid #adb3b9;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(12,13,14,0.2),0 0 0 2px #FFF inset;
    white-space: nowrap;
}
