@import './bulma';
@import './hint';
@import '~highlight.js/styles/github-gist.css';

html, body, #container {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

// dark menu
.dark-menu {
    li ul {
        border-left: 2px solid #738bd7;
    }

    li a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    a.is-active {
        background: linear-gradient(90deg,#282b30 85%,#2e3136);
        color: #fff;
        opacity: 1;
        font-weight: 500;
    }

    a.is-active:hover {
        background: linear-gradient(90deg,#282b30 85%,#2e3136);
        color: #fff;
        opacity: 1;
        font-weight: 500;
    }

    a {
        color: #fff;
        text-decoration: none;
        font-weight: 500;
        opacity: .3;
    }

    a:hover {
        opacity: 1;
        background: transparent;
        color: #fff;
    }

    .menu-label {
        padding-left: 10px;
    }
}

// flex grow spacer
.is-spacer {
    flex-grow: 1;
}

// channel prefix
.channel-name:before {
    content: '#';
    color: #8a8e94 !important;
    margin-right: 3px;
    font-weight: 600;
}

// widget
.widget {
    min-width: 640px;
    min-height: 360px;
    display: flex;
    flex: 1;
}

// new highlight
.is-new {
    background-color: rgba(151, 205, 118, 0.3);
}

// typeahead item
.typeahead-item {
    display: flex !important;
}

// forced flex
.force-flex {
    display: flex !important;
}
