.infobar {
    flex-direction: column;
    box-shadow: none;
}

.header {
    box-shadow: none;
    border-bottom: 1px solid rgba(17,17,17,0.1);
}

.cardContent {
    flex: 1;
    display: flex;
}

.content {
    flex: 1;
    overflow: auto;
}

.resizer {
    position: absolute;
    height: 100%;
    width: 8px;
    cursor: col-resize;
}

.expandButton {
    color: #000;
    font-size: 16px;
}
