.userbar {
    background-color: #282b30;
    min-height: 50px;
    padding: 10px;
    flex-direction: column;
}

.buttons {
    margin-bottom: 10px;
    align-items: center;
}

.textLink {
    color: #BABABA !important;
}
.textLink:hover {
    background: none !important;
    font-weight: bold;
}
