.header {
    display: flex;
    margin-bottom: 0.5em !important;
    align-items: center;
    min-height: 24px;
}

.header :global(.navbar) {
    float: right;
}

.header :global(.navbar-item) {
    align-items: center;
    display: flex;
}

.content {
    min-height: 67px;
    display: flex;
    flex-direction: column;
}

.markdown {
}

.short {
    border-top: 1px solid rgba(211, 214, 219, 0.25) !important;
    display: flex;
    min-height: 35px;
}

.menuButton {
    display: flex !important;
}

.menuIcon {
    margin-left: 2px !important;
    margin-right: 2px !important;
}
